
obj/project.nuget.cache
obj/project.assets.json
obj/Festivity.csproj.nuget.g.props
obj/Festivity.csproj.nuget.dgspec.json
obj/Debug/netcoreapp3.1/Festivity.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Festivity.assets.cache
